[submodule "themes/syna"]
	path = themes/syna
	url = https://github.com/okkur/syna.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
